//
   Created by scott on 17/03/15.

extends layout
block content
    - var passwordNames = collection
    - var passwords = passwordValues
    div.container
        h1.mid= title
        br
        div.overhere
            form(action='/passwords/edit', method='post').overhere
                select(class='form-control', id='passwordList',data-live-search="true", name='passwordSelect')
                    -for(var x=0;x<passwordNames.length;x++){
                        -passwordNames[x] = passwordNames[x].replace(".gpg","");
                    -}
                    -for(var x=0;x<passwordNames.length;x++){
                        option(value=passwordNames[x])=passwordNames[x]
                    -}
                br
                div.form-group
                    label(for='password') Password:
                    input(id='password',type='text',class='form-control',name='password',placeholder='Enter new password')
                div.form-group
                    div
                        label Length:
                    div.w80
                        input(type='range', class='sliderFat', id='genLength', value='12',
                        min='8', max='25', onchange='showValue(this.value)')
                    div.spacer5
                        label
                    div.w15
                        input(type='text',class='form-control',value='12', id='generateLength')
                br
                br
                div.form-group
                    div.w15
                        label(for='cb') Symbols
                    div.w15
                        label
                    div.w15
                        input(class='symbols',type='checkbox',name='cb',id='cb',onchange='alert(document.getElementById("cb").value')
                    div.spacer3
                        label
                    div.w20
                        button(type='button', class='btn btn-default', onclick='generatePassword("password")') Generate Password
                    br
                    br
                div
                    button.btn.btn-default.long(type='submit', name='btnEdit', value='edit') Edit Password
                    br
                    br
                    button.btn.btn-default.long(type='submit', name='btnEdit', value='delete',onclick='return confirm("Are you' +
                    ' sure you want to delete this password?")') Delete Password