extends layout

block content

    h1.mid= title
    br
    div.overhere
        div.alert.alert-danger(id='settingsAlert' style='display: none')
            p <strong>Error!</strong> Ensure all fields are filled!
    div.overhere
        div.alert.alert-success(id='successAlert' style='display: none')
            p <strong>Success!</strong> Cloning password repository, will just take     a second.
    div
    form(id='settingsForm',action='/passwords/settings',method='post', onsubmit='return validateSettings()')
        div.overhere
            div.w45
                label GPG
                br
                label(for='gpgEmail') Email ID:
                input(id='gpgEmail',type='email',class='form-control', name='gpgEmail',placeholder='Enter email address')
                label(for='gpgPassword') Password:
                input(id='gpgPassword',type='password',class='form-control',name='gpgPassword',placeholder='Enter password')
                br
            div.w10
                label.spacer10
            div.w45
                label Git (Bitbucket/Github)
                br
                label(for='gitUsername') Username:
                input(id='gitUsername',type='text',class='form-control', name='gitUsername',placeholder='Enter username')
                label(for='gitPassword') Password:
                input(id='gitPassword',type='password',class='form-control',name='gitPassword',placeholder='Enter password')
        //CSS is upset with me and not being helpful
        br
        br
        br
        br
        br
        br
        br
        br
        div.overhere
            div.below
                label Repository
                br
                label(for='repo') Address:
                input(id='repo', type='text', class='form-control', name='repo', placeholder='Enter repository address')

                br
                button.btn.btn-default(type='submit') Save Settings