doctype html
html
  head
    title= title
    script(src='/javascripts/jquery-1.11.2.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/javascripts/functions.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    //link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    nav(class="navbar navbar-inverse navbar-fixed-top")
        div(class="container-fluid")
            div(class="navbar-header")
                a(class="navbar-brand" href="/passwords") PassManager
            div(class="collapse navbar-collapse")
                ul(class="nav navbar-nav")
                    li
                        a(href='/passwords/add') Add Password
                    li
                        a(href='/passwords/edit') Edit Password
                ul(class="nav navbar-nav navbar-right")
                    li
                        a(href='/') Settings

  body
    block content