// Created by scott on 16/02/15.

extends layout

block content
    - var passwordNames = collection
    - var passwords = passwordValues
    //+passwords)
    h1.mid= title
    br
    br
    section.overhere
        table.table.table-bordered.table-striped.table-hover
            thead
                th Name
                th Password
            tbody
                //remove file extension
                -for(var x=0;x<passwordNames.length;x++){
                    -passwordNames[x] = passwordNames[x].replace(".gpg","");
                -}
                -for(var x=0;x<passwordNames.length;x++){
                    - var pName = passwordNames[x] + "";
                    tr
                        td= pName
                        td=passwords[x]
                -}

                               // button(onclick='something()',name=item) Read
                          //  td=

