//
   Created by scott on 25/03/15.
//
   Created by scott on 16/03/15.
extends layout
block content
    div.container
        div.panel
            h1.mid= title
            div.overhere
                div.alert.alert-danger(id='settingsAlert' style='display: none')
                    p <strong>Oops!</strong> Make sure both fields are filled and no symbols are present in the name!
            div.overhere
                div.alert.alert-success(id='successAlert' style='display: none')
                    p <strong>Success!</strong> Adding note to store, will just take a second.
            div.overhere
                form(action='/main/add',method='post',role='form', onsubmit='return validatePasswordFields()')
                    div.form-group.overhere
                        label(for='nameAdd') Name:
                        input(id='nameAdd',type='text',class='form-control', name='nameAdd',placeholder='Enter note name')
                    div.form-group.overhere
                        label(for='password') Note:
                        textarea.password.form-control(id='password', name='password',placeholder='Enter note')
                    div.form-group.overhere
                        div
                            label Length:
                        div.w80
                            input(type='range',class='sliderFat', id='genLength', value='12',
                            min='8', max='25', onchange='showValue(this.value)')
                        div.spacer5
                            label
                        div.w15
                            label(class='form-control', id='generateLength') 12
                    br
                    br
                    div.form-group.overhere
                        div.w15
                            label(for='cb') Symbols
                        div.w15
                            label
                        div.w15
                            input(class='symbols',type='checkbox',name='cb',id='cb',onchange='alert(document.getElementById("cb").value')
                        div.spacer3
                            label
                        div.w20
                            button(type='button', class='btn btn-default', onclick='generateEdit("password")') Generate Password
                        br
                        br
                    div.overhere
                        button.btn.btn-default.long(type='submit' onsubmit='return validateSettings()') Add Note
