//
   Created by scott on 16/03/15.

extends layout
block content
    div.container
        h1.mid= title
        br
        div.overhere
            div.alert.alert-danger(id='settingsAlert' style='display: none')
                p <strong>Oops!</strong> Make sure both fields are filled and no symbols are present in the name!
        div.overhere
            div.alert.alert-success(id='successAlert' style='display: none')
                p <strong>Success!</strong> Adding password to store, will just take a second.
        div.overhere.mainForm
            form(action='/main/add',method='post',role='form', onsubmit='return validatePasswordFields()')
                div.form-group.overhere
                    label(for='nameAdd') Name:
                    input(id='nameAdd',type='text',class='form-control', name='nameAdd',placeholder='Enter password name')
                div.form-group.overhere
                    label(for='password') Password:
                    input(id='password',type='text',class='form-control',name='password',placeholder='Enter password')
                div.form-group.overhere
                    div
                        label Length:
                    div.w80
                        input(type='range',class='sliderFat', id='genLength', value='12',
                        min='8', max='25', onchange='showValue(this.value)')
                    div.spacer5
                        label
                    div.w15
                        label(class='form-control', id='generateLength') 12
                br
                br
                div.form-group.overhere
                    div.w15
                        label(for='cb') Symbols
                    div.w15
                        label
                    div.w15
                        input(class='symbols',type='checkbox',name='cb',id='cb')
                    div.spacer3
                        label
                    div.w20
                        button(type='button', class='btn btn-default', onclick='generatePassword("password")') Generate Password
                    br
                    br
                div.overhere
                    button.btn.btn-default.long(type='submit' onsubmit='return validateSettings()') Add Password
