//Created by scott on 25/03/15.
extends layout

block content
    - var passwordNames = collection
    - var passwords = passwordValues
    h2=title
    div.overhere
        div.alert.alert-success(id='successAlert' style='display: none')
            p <strong><center>Success!</center></strong>
        div.alert.alert-danger(id='dangerAlert' style='display: none')
            p <strong>Error!</strong> Can't do that, please try again.
    div
        form(action='/main/edit', method='post',onsubmit='return validateEdit()')
            div.panel.editTitle
                div.editInsideTitle.w50
                    div.form-group
                        -for(var x=0;x<passwordNames.length;x++){
                            -passwordNames[x] = passwordNames[x].replace(".gpg","");

                        -}
                        -for(var x=0;x<passwordNames.length;x++){
                            input(type='hidden' ,value=passwords[x], id='h'+passwordNames[x])
                        -}
                        label(for='passwordList') Name:
                        select(class='form-control', id='passwordList', name='passwordSelect'
                        onchange='displayInBox(this.value)')
                            -for(var x=0;x<passwordNames.length;x++){
                                option(value=passwordNames[x])=passwordNames[x]
                            -}
            br
            br
            div.panel
                div.editInsideMain
                    div.textareaMain
                        div.form-group
                            label(for='editPassword') Content:
                            pre.edit
                                textarea.form-control(id='editPassword', name='password')=passwords[0]
                    // Text area
                    div.passwordGenerator
                        div.form-group
                            div
                                label Length:
                            div.w80
                                input(type='range',class='sliderFat', id='genLength', value='12',
                                min='8', max='25', onchange='showValue(this.value)')
                            div.spacer5
                                label
                            div.w15
                                label(class='form-control', id='generateLength') 12
                        br
                        br
                        div.form-group
                            div.w15
                                label(for='cb') Symbols
                            div.w15
                                label
                            div.w15
                                input(class='symbols',type='checkbox',name='cb',id='cb',onchange='alert(document.getElementById("cb").value')
                            div.w15
                                label
                            div.w20
                                button(type='button', class='btn btn-default', onclick='generateEdit("editPassword")') Generate Password
                    // Password generator

            div.panel
                div.editInsideButtons
                    // Buttons
                    div.w30
                        div.w50
                            button.btn.btn-default.long(type='submit', name='btnEdit', value='edit') Edit
                        div.w50
                            button.btn.btn-default.long(type='submit', name='btnEdit', value='delete',onclick='return confirm("Are you' +
                        ' sure you want to delete this password?")') Delete