doctype html
html(ng-app='passwordApp')
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js")
        script(src="/javascripts/controller.js")
        script(src="/javascripts/functions.js")
        script(src='/javascripts/jquery-1.11.2.min.js')
        script(src="/bootstrap/js/bootstrap.min.js")
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        nav(class="navbar navbar-inverse navbar-fixed-top")
            div(class="container-fluid")
                div(class="navbar-header")
                    a(class="navbar-brand" href="/main") PassManager
                div(class="collapse navbar-collapse")
                    ul(class="nav navbar-nav")
                        li
                            a(href='/main/add') Add Password
                        li
                            a(href='/main/addNote') Add Note
                        li
                            a(href='/main/edit') Edit Content
                    ul(class="nav navbar-nav navbar-right")
                        li
                            a(href='/') Settings
    body
        div.wrapper
            div.bodyContent
                block content
            div.footer
                div.container
                    p.text-muted PassManager    -   Scott McCullagh