//
   Created by scott on 24/03/15.
extends layout
block content
    div(class='container' ng-controller="UserCtrl" ng-init='updateTodos()')
        div.panel
            div.panel-body
                div(class='sidebar')
                    div(ng-repeat='pass in actualPasswords' ng-click='displayArticle(pass)'
                    ng-class="{'selected-password': pass.selected, 'not-selected': pass.selected==false}")
                        h4 {{pass.name}}
                div(class='content')
                    article(ng-repeat='pass in actualPasswords' ng-show="pass.selected")
                        h2.con {{pass.name}}
                        pre.con
                            p.con {{pass.password}}


        //ul
        //    li(ng-repeat="pass in passwords") {{ pass.name }} - {{pass.password}}
    script.
        var passwords = !{JSON.stringify(passwords)}
