body {
  padding: 50px;
}
.below{
    clear:both;
    display:block;
}

.w30, .w70, .w80, .w20{
    height: 20px;
    float: left;
    display: inline-block;
    width: 100%;
}
.w5, .w45, .w30, .w40, .w50, .w15, .w20,.w5, .w10, .spacer10, label.fat, .spacer3, .spacer5{
    height:20px;
    float: left;
    display: inline-block;
    width: 100%;
}
.w5{
    width: 5%;
}
.w45{
    width:45%;
}
.w50{
    width:50%;
}
.w40{
    width:40%;
}
label.fat{
    height:30px;
}
.w5{
   width: 5%;
}
.w10{
    width: 10%;
}
.w15{
    width: 15%;
}
.w20{
    width:20%;
}

.w30{
    width: 30%;
}

.w70{
    width: 70%;
}

.w80{
    width: 80%;
}

.long{
    width: 100%;
}

.sliderFat{
    height: 40px;
    padding: 10px;
}

.spacer10{
    width: 10%;
}
.spacer5{
    width: 5%;
}
.spacer3{
    width: 3%;
}

.overhere{
    width: 50%;
    margin: 0 auto;
}

h1.mid{
    text-align: center;
}