html{
    background-color: white;
    height: 100%;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  background-color: #ffffff;
}

a {
  color: #00B7FF;
}

html, body {
    background-color: #ecf0f1;
    margin: auto;
    display: block;
    /*max-width: 900px;*/
    height: 100%;
    overflow-x: hidden;
}
.content {
    padding-left: 10px;
    padding-right: 10px;
    height: 500px;
    max-height:500px;
    max-width: 50%;
    border: solid black 1px;
    border-radius: 5px;
    word-wrap: break-word;
    overflow-y:auto;
}
textarea#password{
    height:200px;
    width:100%;
    word-wrap: break-word;
    overflow-y:auto;
}
textarea#editPassword{
    border-style: hidden;
    height:200px;
}
textarea {
    resize: none;
}
/* Hide the pre frame within the article frame */
pre.con{
    width:100%;
    height:425px;
    background-color: #ffffff;
    border: solid 1px black;
    word-wrap: break-word;

}
pre.edit{
    background-color: #ffffff;
    /*border-style: hidden;*/
    word-wrap: break-word;
    width:100%;
    height:100%;
    padding-left: 5px;
    padding-top: 5px;


}
h2.con{
    text-align: center;
    background-color: #269abc;
    color: snow;
    border: solid black 1px;
    border-radius: 5px;
}
p.con{
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.wrapper{
    min-height: 100%;
    position: relative;
    min-width: 100%;
    width:100%;
}
.bodyContent{
    padding: 10px;
    padding-bottom: 15px;
}
.footer{
    position:absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height: 22px;
    background-color: #f5f5f5;
}
.side{
    border: solid black 1px;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    /*background: snow;*/
}
.sidebar{
    padding:10px;
    margin-right: 20px;
    /*padding-right: 25px;*/
    max-width:30%;
    max-height:500px;
    border: solid darkgrey 1px;
    border-radius: 5px;
    word-wrap: break-word;
    overflow-y:auto;
    box-sizing: border-box;
    width: 300px;
    background: lightgrey;
    text-align: center;
}
.selected-password {
    background-color: #269abc;
    color: snow;
    border: solid black 1px;
    border-radius: 5px;
}
.not-selected {
    border: solid black 1px;
    border-radius: 5px;
    background-color: white;
    color: black;
}
.content, .sidebar{
    width:100%;
    display: inline-block;
    float: left;
    margin-left: 50px;
    margin-right: 50px;
    background-color: lightgrey;
    border: solid black 1px;
}

/* Imported from WebApp */
.below{
    display:block;
    clear: both;
}

.w30, .w70, .w80, .w20{
    height: 20px;
    float: left;
    display: inline-block;
    width: 100%;
}
.w5, .w45, .w30, .w40, .w50, .w15, .w20,.w5, .w10, .spacer10, label.fat, .spacer3, .spacer5{
    height:20px;
    float: left;
    display: inline-block;
    width: 100%;
}
.w5{
    width: 5%;
}
.w45{
    width:45%;
}
.w50{
    padding:10px;
    width:50%;
}
.w40{
    width:40%;
}
label.fat{
    height:30px;
}
.w5{
    width: 5%;
}
.w10{
    width: 10%;
}
.w15{
    width: 15%;
}
.w20{
    width:20%;
}

.w30{
    width: 30%;
}

.w70{
    width: 70%;
}

.w80{
    width: 80%;
}

.long{
    width: 100%;
}

.sliderFat{
    height: 40px;
    padding: 10px;
}

.spacer10{
    width: 10%;
}
.spacer5{
    width: 5%;
}
.spacer3{
    width: 3%;
}

.overhere{
    width: 50%;
    margin: 0 auto;

}
.over75{
    width: 75%;
    margin: 0 auto;
}

h1.mid{
    text-align: center;
}

.editTitle{
    width: 100%;
    max-height: 20%;
    margin-top: 50px;
    padding-left: 10px;
}
.editInsideTitle{
    max-height: 20%;
    min-height: 50px;
    padding-bottom: 20px;
}
.editMain{
    width: 100%;
    min-height: 50%;

}
.editInsideMain{
    min-height: 300px;
}
.editButtons{
    width: 100%;
    height: 20%;

}
.editInsideButtons{
    min-height: 75px;
    padding-left: 10px;
}
.textareaMain{
    max-width: 60%;
    padding: 20px;
    /*max-width: 200px;*/
}
.passwordGenerator{
    max-width: 35%;
    padding: 20px;
    margin-top: 50px;
    border: solid lightgrey 1px;
    border-radius: 5px;
}
.textareaMain, .passwordGenerator {
    float: left;
    display: inline-block;
    width: 100%;
}
h2{
    padding-left: 20px;
    padding-bottom: 0px;
}
.l{
    float: left;
    width: 70%;
}
.c{
    padding-left: 10px;
    width: 20%;
}
.l, .c {
    float: left;
    display: inline-block;
}
.other{
    float: left;
    width: 100%;
}

.mainForm{
    min-height: 100%;
    /*padding-bottom: 150px;*/
}
